#dashboard-view {
    display: block;
    padding: 1rem;
}

:host {
    display: block;
    padding: 1rem;
}

.button-layout {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    justify-content: flex-end
}