# Make documentation files detectable on GitHub Languages calculation.

*.adoc linguist-vendored=false
*.adoc linguist-generated=false
*.adoc linguist-documentation=false
*.adoc linguist-detectable=true

*.asciidoc linguist-vendored=false
*.asciidoc linguist-generated=false
*.asciidoc linguist-documentation=false
*.asciidoc linguist-detectable=true