/* Used in TooltipPosition.java */
:host([theme~='narrow-drawer']) {
  --vaadin-app-layout-drawer-overlay: false !important;
}

:host([theme~='narrow-drawer']) [part='drawer'] {
  width: 52px;
}

:host([theme~='narrow-drawer']) ::slotted(vaadin-drawer-toggle) {
  margin: 0 var(--lumo-space-xs);
}
