html {
  --docs-heading-text-color: var(--color-base-header);
  --docs-body-text-color: var(--color-base-header);
  --docs-secondary-text-color: var(--color-graphite);
  --docs-tertiary-text-color: var(--color-stainless-darker);
  --docs-disabled-text-color: var(--color-stainless-lighter);

  --docs-surface-color-1: var(--color-alloy);
  --docs-surface-color-2: var(--color-alloy-lighter);
  --docs-surface-color-3: var(--color-white);

  --docs-divider-color-1: var(--color-alloy-darker);
  --docs-divider-color-2: var(--color-stainless-lighter);

  --docs-link-color: var(--color-water);
  --docs-visited-link-color: var(--color-water-darker);

  --docs-text-selection-background-color: var(--color-alloy-darker);

  --docs-admonitionblock-tip-border-color: var(--color-grass);
  --docs-admonitionblock-caution-border-color: var(--color-gold);
  --docs-admonitionblock-warning-border-color: var(--color-lava);
  --docs-admonitionblock-important-border-color: var(--color-water);

  --docs-tab-selected-color: var(--color-water);

  --docs-imageblock-prominent-background-color: var(--color-water);
  --docs-imageblock-prominent-color: var(--color-white);

  --docs-version-badge-upcoming-background-color: var(--color-grass-lighter);
  --docs-version-badge-upcoming-color: var(--color-grass-darker);
  --docs-version-badge-new-background-color: var(--color-water-lighter);
  --docs-version-badge-new-color: var(--color-water-darker);
  --docs-version-badge-deprecated-background-color: var(--color-lava-lighter);
  --docs-version-badge-deprecated-color: var(--color-lava-darker);
}
