/* These style sheets are fetched from vaadin.com during build (see gatsby-node.js) */
@import 'https://cdn.vaadin.com/vaadin-design-system/latest/assets/icons/css/line-awesome.min.css';
@import '../antlers/assets/css/haas-bundle.css';
@import '../antlers/assets/css/3-patterns/card.css';

html {
  --docs-font-family: 'Inter', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Roboto', 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --docs-font-family-heading: 'Montserrat', Verdana, sans-serif;
  --docs-font-family-monospace: var(--font-code);

  --docs-font-size-2xs: var(--text-size-xs);
  /* --docs-font-size-xs: var(--text-size-xs); */
  --docs-font-size-s: var(--text-size-sm);
  --docs-font-size-m: var(--text-size-md);

  --docs-font-size-h1: 2.5rem; /* var(--text-size-xxxl); */
  --docs-font-size-h2: 2rem; /* var(--text-size-xxl); */
  --docs-font-size-h3: 1.5rem; /* var(--text-size-xl); */
  --docs-font-size-h4: var(--text-size-lg);
  --docs-font-size-h5: var(--text-size-md);
  --docs-font-size-h6: var(--text-size-sm);

  --docs-font-weight-heading: var(--text-weight-medium);

  --docs-line-height-s: var(--text-leading-sm);
  --docs-line-height-m: 1.65; /* var(--text-leading-lg); */
  --docs-line-height-l: var(--text-leading-xl);

  --docs-space-2xs: 0.125rem; /* No suitable variable in Antlers */
  --docs-space-xs: var(--space-xxs);
  --docs-space-s: var(--space-xs);
  --docs-space-m: var(--space-sm);
  /* --docs-space-l: var(--space-md); */
  --docs-space-xl: var(--space-md);
  --docs-space-2xl: var(--space-lg);
  --docs-space-3xl: var(--space-xl);

  --docs-layout-max-width: var(--max-width-lg);

  --docs-border-radius-s: var(--roundness-sm);
  --docs-border-radius-m: var(--roundness-md);
  --docs-border-radius-l: var(--roundness-lg);
  --docs-border-radius-full: var(--roundness-full);

  /* Workaround for HaaS issue, where the navigation menu is using width: 100vw */
  overflow-x: hidden;
}

::-moz-selection {
  --docs-text-selection-background-color: var(--text-selection-background);
  --docs-text-selection-color: var(--text-selection-text);
}

::selection {
  --docs-text-selection-background-color: var(--text-selection-background);
  --docs-text-selection-color: var(--text-selection-text);
}

/* TODO this can easily get out of sync. Would need separate custom properties
   (for different viewport sizes) in Antlers, or docs-app to use the .container-fluid class name
   (which would mean adjustments to many of the current styles) */
@media (max-width: 1440px) {
  html {
    --docs-layout-max-width: 1260px;
  }
}

@media (max-width: 1260px) {
  html {
    --docs-layout-max-width: 1200px;
  }
}

dspublisher-header {
  display: block;
}

dspublisher-header,
.vcom-header {
  color: #fff;
  background-color: var(--color-charcoal-darker);
  height: var(--mainViewMenuHeight);
  font-family: 'Montserrat', Verdana, sans-serif;
}

.vcom-header .container-fluid {
  padding-left: var(--docs-space-l);
  padding-right: var(--docs-space-l);
}

/* These elements have explicit z-index in HaaS styles,
   which make them appear above the docs search.
   Keep them below. */
.vcom-header .haas-navigation-panel .nav-logo,
.vcom-header .haas-navigation-panel .header-button-primary,
.vcom-header .haas-navigation-panel .mobile-menu__button {
  z-index: auto;
}

nav[aria-label='main sections'] a .image {
  stroke-width: 1.5px;
}

/* Typographic tweaks, could be added to Antlers */
article[class] h1,
article[class] h2 {
  letter-spacing: -0.02em;
}

/* TODO these should be coming from the content project,
as articles define these class names using the section-nav
front matter attribute */
[class*='menuItem'].incomplete a:any-link {
  color: var(--docs-disabled-text-color);
}

[class*='menuItem'].commercial > div > a::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-gold);
  vertical-align: middle;
  margin-inline-start: 0.4em;
}

/* TODO only needed in vaadincom. Remove feedback-banner after beta */
.feedback-banner {
  background-color: var(--color-gold);
  font-weight: 500;
}

.feedback-banner-beta {
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0.2em 0;
  border-radius: 5em;
  margin: var(--docs-space-xs) 0;
  margin-left: -0.3rem;
  width: 3.25rem;
  text-align: center;
  margin-right: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  font-weight: 600;
}

.feedback-banner-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: auto;
  max-width: var(--docs-layout-max-width);
  margin: 0 auto;
  padding: var(--docs-space-xs) var(--docs-space-l);
}

.feedback-banner p {
  color: var(--color-charcoal);
  font-size: var(--docs-font-size-s);
  margin: var(--docs-space-xs) 0;
  margin-right: var(--docs-space-m);
  line-height: 1.25;
  padding: 0 0.3rem;
}

.feedback-banner a:any-link {
  display: inline-block;
  font-size: var(--docs-font-size-xs);
  color: var(--color-charcoal);
  font-weight: 600;
  background-color: var(--color-white);
  color: var(--color-charcoal);
  padding: 0.2em 1em;
  border-radius: 5em;
  transition: all 0.2s ease;
  text-align: center;
  margin: var(--docs-space-s) 0;
  margin-inline-end: auto;
  vertical-align: middle;
}

.feedback-banner a:last-child:any-link {
  background-color: transparent;
  color: var(--color-charcoal);
  margin-inline-end: 0;
  padding: 0.2em 0.5em;
}

.feedback-banner a:last-child::before {
  content: '↩︎';
  font-family: sans-serif;
  transform: scaleY(-1);
  display: inline-block;
  line-height: 1.2;
  vertical-align: top;
  margin-inline-end: 0.5em;
}
