/* These style sheets are fetched from vaadin.com during build (see gatsby-node.js) */
@import 'https://cdn.vaadin.com/website/antlers/v2/assets/icons/css/line-awesome.min.css';
@import 'https://cdn.vaadin.com/website/hubspot-theme/v2/haas/css/haas.css';
@import '../antlers/assets/css/3-patterns/card.css';
@import '../antlers/assets/css/1-foundation/custom-properties.css', 
@import '../antlers/assets/css/1-foundation/reset.css',
@import '../antlers/assets/css/1-foundation/layout.css',
@import '../antlers/assets/css/1-foundation/typography.css',
@import '../antlers/assets/css/1-foundation/theme.css',
@import '../antlers/assets/css/2-components/button.css',
@import '../antlers/assets/css/2-components/dropdown.css',
@import '../antlers/assets/css/2-components/links.css',
@import '../antlers/assets/css/2-components/lists.css',
@import '../antlers/assets/css/2-components/tag.css',
@import '../antlers/assets/css/3-patterns/navigation.css',
@import '../antlers/assets/css/5-sections/addsearch.css',
@import '../antlers/assets/css/5-sections/cookie.css',
@import '../antlers/assets/css/3-patterns/card.css'

html {
  --docs-font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Roboto',
    'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --docs-font-family-heading: 'Montserrat', Verdana, sans-serif;
  --docs-font-family-monospace: var(--font-code);

  --docs-font-size-2xs: var(--text-size-xs);
  /* --docs-font-size-xs: var(--text-size-xs); */
  --docs-font-size-s: var(--text-size-sm);
  --docs-font-size-m: var(--text-size-md);

  --docs-font-size-h1: 2.5rem; /* var(--text-size-xxxl); */
  --docs-font-size-h2: 2rem; /* var(--text-size-xxl); */
  --docs-font-size-h3: 1.5rem; /* var(--text-size-xl); */
  --docs-font-size-h4: var(--text-size-lg);
  --docs-font-size-h5: var(--text-size-md);
  --docs-font-size-h6: var(--text-size-sm);

  --docs-font-weight-heading: var(--text-weight-medium);

  --docs-line-height-s: var(--text-leading-sm);
  --docs-line-height-m: 1.65; /* var(--text-leading-lg); */
  --docs-line-height-l: var(--text-leading-xl);

  --docs-space-2xs: 0.125rem; /* No suitable variable in Antlers */
  --docs-space-xs: var(--space-xxs);
  --docs-space-s: var(--space-xs);
  --docs-space-m: var(--space-sm);
  /* --docs-space-l: var(--space-md); */
  --docs-space-xl: var(--space-md);
  --docs-space-2xl: var(--space-lg);
  --docs-space-3xl: var(--space-xl);

  --docs-layout-max-width: var(--max-width-lg);
  --docs-article-max-width: none;

  --docs-border-radius-s: var(--roundness-sm);
  --docs-border-radius-m: var(--roundness-md);
  --docs-border-radius-l: var(--roundness-lg);
  --docs-border-radius-full: var(--roundness-full);

  /* Workaround for HaaS issue, where the navigation menu is using width: 100vw */
  overflow-x: hidden;
}

::-moz-selection {
  --docs-text-selection-background-color: var(--text-selection-background);
  --docs-text-selection-color: var(--text-selection-text);
}

::selection {
  --docs-text-selection-background-color: var(--text-selection-background);
  --docs-text-selection-color: var(--text-selection-text);
}

/* TODO this can easily get out of sync. Would need separate custom properties
   (for different viewport sizes) in Antlers, or docs-app to use the .container-fluid class name
   (which would mean adjustments to many of the current styles) */
@media (max-width: 1440px) {
  html {
    --docs-layout-max-width: 1260px;
  }
}

@media (max-width: 1260px) {
  html {
    --docs-layout-max-width: 1200px;
  }
}

dspublisher-header {
  display: block;
  background-color: var(--color-white);
  min-height: var(--mainViewMenuHeight);
}

.vcom-header {
  color: #fff;
  background-color: var(--color-white);
  height: var(--mainViewMenuHeight);
}

.vcom-header .container-fluid {
  padding-left: var(--docs-space-l);
  padding-right: var(--docs-space-l);
}

/* These elements have explicit z-index in HaaS styles,
   which make them appear above the docs search.
   Keep them below. */
.vcom-header .haas-navigation-panel .nav-logo,
.vcom-header .haas-navigation-panel .header-button-primary,
.vcom-header .haas-navigation-panel .mobile-menu__button {
  z-index: auto;
}

nav[aria-label='main sections'] a .image {
  stroke-width: 1.5px;
}

/* Typographic tweaks, could be added to Antlers */
article[class] h1,
article[class] h2 {
  letter-spacing: -0.02em;
}

[class*='menuItem'].commercial:not(.incomplete) > div > a::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  vertical-align: middle;
  margin-inline-start: 0.4em;
  background-color: var(--color-gold);
}

[class*='menuItem'].incomplete > div > a::after {
  display: inline-block;
  font-family: docs-app-icons;
  content: var(--docs-app-icons-alert);
  vertical-align: -1px;
  line-height: 1;
  color: var(--docs-disabled-text-color);
  margin-inline-start: 0.4em;
}
