/* Used in TooltipPosition.java */
vaadin-app-layout[theme~='narrow-drawer'] {
  --vaadin-app-layout-drawer-overlay: false !important;
}

vaadin-app-layout[theme~='narrow-drawer']::part(drawer) {
  width: 52px;
}

vaadin-app-layout[theme~='narrow-drawer'] vaadin-drawer-toggle {
  margin: 0 var(--lumo-space-xs);
}

/* Used in app-layout examples */
vaadin-app-layout a {
  color: #1f1f1f;
}

vaadin-app-layout a:not(.active) {
  opacity: 0.5;
}
