.navigation {
  width: 100%;
  justify-content: space-evenly;
  align-self: stretch;
}

.navigation a {
  padding-inline: var(--lumo-space-l);
  color: var(--lumo-secondary-text-color);
  display: flex;
  align-items: center;
}

.navigation a.active {
  color: var(--lumo-primary-text-color);
}

.navigation vaadin-icon {
  height: var(--lumo-icon-size-s);
  margin: auto;
  width: var(--lumo-icon-size-s);
}