/* Used in TooltipPosition.java */
vaadin-app-layout[theme~='narrow-drawer'] {
  --vaadin-app-layout-drawer-overlay: false !important;
}

vaadin-app-layout[theme~='narrow-drawer']::part(drawer) {
  width: 52px;
}

vaadin-app-layout[theme~='narrow-drawer'] vaadin-drawer-toggle {
  margin: 0 var(--lumo-space-xs);
}
