.basic-layouts-example vaadin-vertical-layout {
    border: 1px solid var(--lumo-primary-color);
    border-radius: var(--lumo-border-radius-l);
}

.basic-layouts-example vaadin-vertical-layout.with-min-height {
    height: calc(var(--lumo-size-xl) * 5);
}