.basic-layouts-example vaadin-vertical-layout,
:host(.basic-layouts-example) vaadin-vertical-layout,
.basic-layouts-example vaadin-horizontal-layout,
:host(.basic-layouts-example) vaadin-horizontal-layout {
    border: 1px solid var(--lumo-primary-color);
    border-radius: var(--lumo-border-radius-l);
}

.basic-layouts-example vaadin-vertical-layout.height-4xl,
:host(.basic-layouts-example) vaadin-vertical-layout.height-4xl,
.basic-layouts-example vaadin-horizontal-layout.height-4xl,
:host(.basic-layouts-example) vaadin-horizontal-layout.height-4xl {
    height: calc(var(--lumo-size-xl) * 4);
}

.basic-layouts-example vaadin-vertical-layout.height-5xl,
:host(.basic-layouts-example) vaadin-vertical-layout.height-5xl,
.basic-layouts-example vaadin-horizontal-layout.height-5xl,
:host(.basic-layouts-example) vaadin-horizontal-layout.height-5xl {
    height: calc(var(--lumo-size-xl) * 5);
}

.basic-layouts-example .container,
:host(.basic-layouts-example) .container {
    border: 1px solid var(--lumo-success-color);
    border-radius: var(--lumo-border-radius-l);
}