.basic-layouts-example vaadin-vertical-layout,
:host(.basic-layouts-example) vaadin-vertical-layout {
    border: 1px solid var(--lumo-primary-color);
    border-radius: var(--lumo-border-radius-l);
}

.basic-layouts-example vaadin-vertical-layout.height-5xl,
:host(.basic-layouts-example) vaadin-vertical-layout.height-5xl {
    height: calc(var(--lumo-size-xl) * 5);
}