.basic-layouts-example {
  vaadin-vertical-layout,
  vaadin-horizontal-layout {
    border: 1px solid var(--vaadin-border-color);
    border-radius: 0.5em;

    &.height-4xl {
      height: calc(3.5rem * 4);
    }

    &.height-5xl {
      height: calc(3.5rem * 5);
    }
  }

  .container {
    border: 1px solid var(--vaadin-border-color);
    border-radius: 0.5em;
  }

  .example-item {
    background: var(--vaadin-background-container-strong);
    color: var(--vaadin-text-color);
    border-radius: 0.5em;
    white-space: nowrap;

    :host([theme~='lumo']) & {
      padding: var(--vaadin-padding-s) var(--vaadin-padding-l);
    }

    :host([theme~='aura']) & {
      padding: var(--vaadin-padding-m) var(--vaadin-padding-xl);
    }
  }
}

