.basic-layouts-example vaadin-vertical-layout,
:host(.basic-layouts-example) vaadin-vertical-layout,
.basic-layouts-example vaadin-horizontal-layout,
:host(.basic-layouts-example) vaadin-horizontal-layout {
  border: 1px solid var(--vaadin-border-color);
  border-radius: 0.5em;
}

.basic-layouts-example vaadin-vertical-layout.height-4xl,
:host(.basic-layouts-example) vaadin-vertical-layout.height-4xl,
.basic-layouts-example vaadin-horizontal-layout.height-4xl,
:host(.basic-layouts-example) vaadin-horizontal-layout.height-4xl {
  height: calc(3.5rem * 4);
}

.basic-layouts-example vaadin-vertical-layout.height-5xl,
:host(.basic-layouts-example) vaadin-vertical-layout.height-5xl,
.basic-layouts-example vaadin-horizontal-layout.height-5xl,
:host(.basic-layouts-example) vaadin-horizontal-layout.height-5xl {
  height: calc(3.5rem * 5);
}

.basic-layouts-example .container,
:host(.basic-layouts-example) .container {
  border: 1px solid var(--vaadin-border-color);
  border-radius: 0.5em;
}

.basic-layouts-example .example-item,
:host(.basic-layouts-example) .example-item {
  background: var(--vaadin-background-container-strong);
  color: var(--vaadin-text-color);
  border-radius: 0.5em;
  padding: var(--vaadin-padding-s) var(--vaadin-padding-l);
  white-space: nowrap;
}
