/* Add this to your global CSS, for example in: */
/* src/main/resources/META-INF/resources/styles.css */

vaadin-combo-box-item.coral {
  color: coral;
}

vaadin-combo-box-item.gold {
  color: gold;
}

vaadin-combo-box-item.orange {
  color: orange;
}

vaadin-combo-box-item.yellowgreen {
  color: yellowgreen;
}
