.themable div.cc-window.cc-theme-block {
    background-color: var(--lumo-base-color);
    box-shadow: var(--lumo-box-shadow-s);
    color: var(--lumo-body-text-color);
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
}

.themable a.cc-link[role=button] {
    color: var(--lumo-primary-text-color);
    opacity: 1;
    padding: 0 var(--lumo-space-s);
}

.themable a.cc-btn.cc-dismiss {
    border: none;
    border-radius: var(--lumo-border-radius);
    color: var(--lumo-primary-contrast-color);
    font-size: var(--lumo-font-size-m);
    line-height: var(--lumo-size-m);
    min-width: 140px;
    padding: 0 calc(var(--lumo-size-m) / 3 + var(--lumo-border-radius) / 2);
}