html {
    --dashboard-widget-content-color: #e0e0e0;
    --dashboard-widget-content-color-alt: #f5f5f5;
}

html[theme~="dark"] {
    --dashboard-widget-content-color: rgba(255, 255, 255, 0.1);
    --dashboard-widget-content-color-alt: rgba(255, 255, 255, 0.2);
}

.dashboard-widget-content {
    height: 100%;
    background: repeating-linear-gradient(45deg, var(--dashboard-widget-content-color), var(--dashboard-widget-content-color) 10px, var(--dashboard-widget-content-color-alt) 10px, var(--dashboard-widget-content-color-alt) 20px);
    border-radius: var(--lumo-border-radius-m);

    &.small {
        height: 50px;
    }
}
