.dashboard-widget-content {
    --stripe-color: hsla(214, 61%, 25%, 0.075);
    height: 100%;
    background: repeating-linear-gradient(45deg, var(--stripe-color), var(--stripe-color) 10px, transparent 10px, transparent 20px) var(--stripe-color);
}

.dashboard-widget-content.small {
    height: 50px;
}
