/* Custom global styles for dialog component examples */

/* tag::dialog-no-padding[] */
.dialog-no-padding-example-overlay {
    height: 100%;
    max-height: 420px;
    width: 320px;
}

.dialog-no-padding-example-overlay header {
    border-bottom: 1px solid var(--lumo-contrast-10pct);
    padding: var(--lumo-space-m) var(--lumo-space-m);
}

.dialog-no-padding-example-overlay h2 {
    margin: 0;
    font-size: var(--lumo-font-size-xl);
    font-weight: 600;
    line-height: var(--lumo-line-height-xs);
}

.dialog-no-padding-example-overlay h3 {
    font-size: var(--lumo-font-size-l);
    font-weight: 600;
    line-height: var(--lumo-line-height-xs);
    margin: 0 0 var(--lumo-space-s) 0
}

.dialog-no-padding-example-overlay footer {
    background-color: var(--lumo-contrast-5pct);
    padding: var(--lumo-space-s) var(--lumo-space-m);
    text-align: right;
}
/* end::dialog-no-padding[] */
