/* Add this to your global CSS, for example in: */
/* frontend/theme/[my-theme]/styles.css */

vaadin-grid.styling::part(high-rating) {
    background-color: var(--lumo-success-color-10pct);
}

vaadin-grid.styling::part(low-rating) {
    background-color: var(--lumo-error-color-10pct);
}

vaadin-grid.styling::part(loading-row-cell) {
    background-color: var(--lumo-base-color);
}

vaadin-grid.styling::part(font-weight-bold) {
    font-weight: bold;
}
