/* Add this to your global CSS, for example in: */
/* frontend/theme/[my-theme]/styles.css */

vaadin-grid::part(high-rating) {
    background: rgba(122, 201, 122, 0.2);
}

vaadin-grid::part(low-rating) {
    background: rgba(255, 128, 114, 0.2);
}

vaadin-grid::part(font-weight-bold) {
    font-weight: bold;
}
