/* Use vaadin-menu-bar-button to style root menu items */
/* Use vaadin-menu-bar-item to style sub-menu items */
vaadin-menu-bar-button.custom,
vaadin-menu-bar-item.custom {
   color: var(--lumo-success-text-color);
}
