/* Add this to your global CSS, for example in: */
/* frontend/theme/[my-theme]/styles.css */

vaadin-multi-select-combo-box-item.coral {
  color: coral;
}

vaadin-multi-select-combo-box-item.gold {
  color: gold;
}

vaadin-multi-select-combo-box-item.orange {
  color: orange;
}

vaadin-multi-select-combo-box-item.yellowgreen {
  color: yellowgreen;
}
