/* tag::snippet[] */

/* Add this to your global CSS, for example in: */
/* frontend/theme/[my-theme]/styles.css */

vaadin-side-nav-item.external::part(link) {
    color: var(--lumo-primary-text-color);
}

vaadin-side-nav-item.external > vaadin-icon {
    color: var(--lumo-primary-color);
}

vaadin-side-nav-item.external::part(link):hover {
    color: var(--lumo-primary-text-color);
    text-decoration: underline;
}

/* end::snippet[] */


/* Styles for vaadin-side-nav documentation UI examples: */
.side-nav-sample {
    overflow: hidden;
    background: var(--lumo-shade-5pct, var(--vaadin-background-container));
}
.side-nav-sample > * {
    background: var(--vaadin-background-color);
    box-shadow: var(--lumo-box-shadow-s, 0 8px 24px -4px rgba(0, 0, 0, 0.3));
    padding: var(--vaadin-padding-m);
    width: 15em;
}
