/* tag::snippet[] */

/* Add this to your global CSS, for example in: */
/* frontend/theme/[my-theme]/styles.css */

vaadin-side-nav-item.external::part(link) {
    color: var(--lumo-primary-text-color);
}

vaadin-side-nav-item.external > vaadin-icon {
    color: var(--lumo-primary-color);
}

vaadin-side-nav-item.external::part(link):hover {
    color: var(--lumo-primary-text-color);
    text-decoration: underline;
}

/* end::snippet[] */


/* Styles for vaadin-side-nav documentation UI examples: */
.side-nav-sample {
    overflow: hidden;
    background: var(--lumo-shade-5pct);
}
.side-nav-sample > * {
    background: var(--lumo-base-color);
    box-shadow: var(--lumo-box-shadow-s);
    padding: var(--lumo-space-m);
    width: 15em;
}
