vaadin-notification-card .checkmark {
  border-radius: 50%;
  background-color: var(--lumo-success-color);
  color: var(--lumo-success-contrast-color);
}

vaadin-notification-card[theme='success'] .checkmark {
  background-color: var(--lumo-success-contrast-color);
  color: var(--lumo-success-color);
}

vaadin-notification-card .checkmark,
vaadin-notification-card .warning,
vaadin-notification-card vaadin-avatar {
  margin-right: var(--lumo-space-m);
  flex: none;
}
