:host(.notification-rich-example) vaadin-notification-card .checkmark {
  border-radius: 50%;
  background-color: var(--lumo-success-color);
  color: var(--lumo-success-contrast-color);
}

:host(.notification-rich-example) vaadin-notification-card[theme='success'] .checkmark {
  background-color: var(--lumo-success-contrast-color);
  color: var(--lumo-success-color);
}

:host(.notification-rich-example) .checkmark,
:host(.notification-rich-example) .warning,
:host(.notification-rich-example) vaadin-avatar {
  margin-right: var(--lumo-space-m);
  flex: none;
}
