:host([theme~='lumo']) vaadin-password-field {
  .weak {
    color: var(--lumo-error-color);
  }

  .moderate {
    color: var(--lumo-warning-color);
  }

  .strong {
    color: var(--lumo-success-color);
  }
}

:host([theme~='aura']) vaadin-password-field {
  .weak {
    color: var(--aura-red-text);
  }

  .moderate {
    color: var(--aura-orange-text);
  }

  .strong {
    color: var(--aura-green-text);
  }
}
