.userMenuLinks {
  padding-bottom: var(--vaadin-padding-xs);
  border-top: 1px solid var(--vaadin-border-color-secondary);

  & a {
    padding: var(--vaadin-padding-xs) var(--vaadin-padding-m);
    color: var(--vaadin-text-color);
    text-decoration: none;

    &:hover {
      background: var(--vaadin-background-container);
    }
  }
}
