.userMenuHeader {
    background: var(--lumo-contrast-5pct);
    padding: var(--lumo-space-s);
    padding-inline-end: var(--lumo-space-l);
    margin: 2px;
    align-items: center;
    gap: var(--lumo-space-s);
    line-height: var(--lumo-line-height-s);

    & .userMenuNickname {
        font-size: var(--lumo-font-size-s);
        color: var(--lumo-secondary-text-color);
    }
}

.userMenuLinks {
    padding-bottom: var(--lumo-space-xs);
    align-items: stretch;

    & a {
        padding: var(--lumo-space-xs) var(--lumo-space-m);
        color: var(--lumo-body-text-color);
        text-decoration: none;

        &:hover {
            background: var(--lumo-contrast-5pct);
        }
    }
}