#notifications-heading {
  font-size: 1.125rem;
}

vaadin-tabsheet.notifications {
  max-height: 350px;

  & vaadin-message-list {
    & vaadin-message {
      padding: var(--vaadin-padding-s) 0 var(--vaadin-padding-l);
      margin: 0 var(--vaadin-padding-l);
      font-size: 0.875rem;
      border-bottom: 1px solid var(--vaadin-border-color-secondary);

      &::part(name) {
        font-weight: 600;
        margin-right: auto;
      }
      &::part(time) {
        font-size: 0.75rem;
      }
      &::part(message) {
        font-size: 0.875rem;
        line-height: 1.25;
        color: var(--vaadin-text-color-secondary);
      }
    }
  }

  .no-notifications-msg {
    padding: var(--vaadin-padding-l);
    color: var(--vaadin-text-color-secondary);
  }
}
