#notifications-heading {
  font-size: var(--lumo-font-size-l);
}

vaadin-tabsheet.notifications {
  max-height: 350px;

  & vaadin-tabs::part(tabs) {
    margin-left: var(--lumo-space-xs);
  }

  & vaadin-message-list {
    & vaadin-message {
      padding: var(--lumo-space-s) 0 var(--lumo-space-m) 0;
      margin: 0 var(--lumo-space-m);
      font-size: var(--lumo-font-size-s);
      border-bottom: 1px solid var(--lumo-contrast-10pct);

      &::part(name) {
        font-weight: 600;
        margin-right: auto;
      }
      &::part(time) {
        font-size: var(--lumo-font-size-xxs);
      }
      &::part(message) {
        font-size: var(--lumo-font-size-s);
        line-height: var(--lumo-line-height-xs);
        color: var(--lumo-secondary-text-color);
      }
    }
  }

  .no-notifications-msg {
    padding: var(--lumo-space-m);
    color: var(--lumo-secondary-text-color);
  }
}
