.master-content {
  display: block;
  overflow: hidden !important;
}

.master-content .row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--vaadin-background-container-strong);
}

.master-content .col {
  flex: 0 0 8rem;
  height: 1.4rem;
  margin: var(--vaadin-gap-m);
  background: var(--vaadin-background-container-strong);
  border-radius: var(--vaadin-radius-l);
}

.detail-content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden !important;
  color: var(--vaadin-background-container-strong);
}

.detail-content .field {
  display: flex;
  flex-direction: column;
  margin: var(--vaadin-gap-m) var(--vaadin-gap-xl);
  pointer-events: none;
}

.detail-content label {
  width: 6rem;
  height: 0.6875rem;
  background: var(--vaadin-background-container-strong);
  border-radius: var(--vaadin-radius-l);
}

.detail-content input {
  margin-top: var(--vaadin-gap-s);
  padding: var(--vaadin-gap-s) 0;
  background: var(--vaadin-background-container-strong);
  border: none;
  border-radius: var(--vaadin-radius-s);
}
