/* Import your application global css files here or add the styles directly to this file */

@import './app-layout-bottom-navbar.css';
@import './basic-layouts.css';
@import './cookie-consent-theming.css';
@import './login-rich-content.css';
@import './notification-position-example.css';
@import './board.css';
@import './grid-cell-focus.css';
@import './menu-bar-theming.css';
@import './message-list-theming.css';
@import './grid-styling.css';
@import './grid-header-footer-styling.css';
@import './nav-item-styling.css';
@import './icon-fonts.css';

html,
:host {
  /* Define explicitly until these are part of the main Vaadin build (vs just in CE) */
  --vaadin-user-color-0: #df0b92;
  --vaadin-user-color-1: #650acc;
  --vaadin-user-color-2: #097faa;
  --vaadin-user-color-3: #ad6200;
  --vaadin-user-color-4: #bf16f3;
  --vaadin-user-color-5: #084391;
  --vaadin-user-color-6: #078836;
}

