/* Import custom styles used in examples */
@import './app-layout.css';
@import './basic-layouts.css';
@import './context-menu-class-name.css';
@import './combo-box-item-class-name.css';
@import './dashboard.css';
@import './login-rich-content.css';
@import './notification-position-example.css';
@import './grid-cell-focus.css';
@import './grid-styling.css';
@import './grid-header-footer-styling.css';
@import './menu-bar-class-name.css';
@import './message-list-class-name.css';
@import './multi-select-combo-box-chip-class-name.css';
@import './multi-select-combo-box-item-class-name.css';
@import './nav-item-styling.css';
@import './icon-fonts.css';
@import './popover-notification-panel.css';
@import './popover-user-menu.css';
@import './screen-reader-only.css';
@import './text-area.css';
@import './split-layout-example.css';

:is(#id, :root, :host) {
  --aura-app-background: var(--docs-example-render-background-color);
  --lumo-base-color: var(--docs-example-render-background-color);
}
