/* Import your application global css files here or add the styles directly to this file */

@import './login-rich-content.css';
@import './notification-examples.css';
@import './cookie-consent-example.css';

html,
:host {
  /* Define explicitly until these are part of the main Vaadin build (vs just in CE) */
  --vaadin-user-color-0: #df0b92;
  --vaadin-user-color-1: #650acc;
  --vaadin-user-color-2: #097faa;
  --vaadin-user-color-3: #ad6200;
  --vaadin-user-color-4: #bf16f3;
  --vaadin-user-color-5: #084391;
  --vaadin-user-color-6: #078836;
}
