tutorial::components/tutorial-flow-grid.asciidoc

vaadin-grid vaadin-grid-cell-content img {
    max-height: 4em;
}


vaadin-grid.styled vaadin-grid-cell-content img {
    border-radius: 2em;
    margin-left: 50%;
    transform: translate(-50%);
}

.styled .style-female {
    --custom-text-field-bg: #ff99cc;
}
.styled .style-male {
    --custom-text-field-bg: #99ccff;
}

