tutorial::creating-components/tutorial-extending-component.asciidoc

:host([theme~="numeric"]) [part="input-field"] {
    background-color: var(--lumo-base-color);
    border: 1px solid var(--lumo-contrast-30pct);
    box-sizing: border-box;
}

:host([theme~="numeric"]) [part="value"]{
    text-align: center;
}
