.toc-banner-source {
  display: none;
}

.toc-banner {
  margin-top: 2rem;
  width: 11.25rem;
}

.toc-banner--img img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

.toc-banner--content {
  margin-top: 1rem;
  line-height: 1.5;
}

.toc-banner > a::after {
  content: none !important;
}
