/* frontend/theme/[my-theme]/components/vaadin-grid.css */

.high-rating {
    background-color: var(--lumo-success-color-10pct);
}

.low-rating {
    background-color: var(--lumo-error-color-10pct);
}

.font-weight-bold {
    font-weight: bold;
}
