/* frontend/theme/[my-theme]/components/vaadin-grid.css */

[part~='high-rating'] {
    background-color: #b1ffb7;
}

[part~='low-rating'] {
    background-color: #ffd9d9;
}

[part~='font-weight-bold'] {
    font-weight: bold;
}
