/* Place in frontend/themes/[my-theme]/components/vaadin-message.css */

:host([theme~="current-user"]) {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 9px;
    font-weight: 900;
  }
:host([theme~="current-user"]) [part="name"] {
    font-weight: 900;
}
:host([theme~="current-user"]) [part="time"] {
    color: #fff;
}
:host([theme~="current-user"]) [part="name"]::after{
    content: " (You)";
}
