.dashboard-widget-content {
    height: 100%;
    background: repeating-linear-gradient(45deg, var(--lumo-contrast-5pct), var(--lumo-contrast-5pct) 10px, transparent 10px, transparent 20px) var(--lumo-contrast-5pct);
    border-radius: var(--lumo-border-radius-m);
}

.dashboard-widget-content.small {
    height: 50px;
}
