/* Add this to your global CSS, for example in: */
/* frontend/theme/[my-theme]/styles.css */

vaadin-grid.styling-header-footer::part(rating-header) {
    font-size: var(--lumo-font-size-xs);
    white-space: unset;
    color: var(--blue-600);
}

vaadin-grid.styling-header-footer::part(rating-footer) {
    color: var(--blue-600);
}
