/* Add this to your global CSS, for example in: */
/* frontend/theme/[my-theme]/styles.css */

vaadin-message.current-user {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 9px;
    font-weight: 900;
}
vaadin-message.current-user::part(name) {
    font-weight: 900;
}
vaadin-message.current-user::part(time) {
    color: #fff;
}
vaadin-message.current-user::part(name)::after{
    content: " (You)";
}
