/* Add this to your global CSS, for example in: */
/* frontend/theme/[my-theme]/styles.css */

vaadin-multi-select-combo-box-chip.coral {
  background: coral;
}

vaadin-multi-select-combo-box-chip.gold {
  background: gold;
}

vaadin-multi-select-combo-box-chip.orange {
  background: orange;
}

vaadin-multi-select-combo-box-chip.yellowgreen {
  background: yellowgreen;
}
