.toc-banner-source {
  display: none;
}

.toc-banner {
  margin-top: 2rem;
  width: 11.25rem;
}

.toc-banner--img img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

.toc-banner--content {
  margin-top: 1rem;
  line-height: 1.5;
}

.toc-banner > a::after {
  content: none !important;
}

/* Use the same breakpoint as in ArticleLayout.module.css */
@media screen and (max-width: 65rem) {
  .toc-banner {
    width: auto;
    max-width: 25em;
    margin-top: 0;
    margin-left: -1.25em;
  }

  .toc-banner > a {
    display: flex;
    gap: 1em;
  }

  .toc-banner--img {
    flex: none;
    width: 33%;
  }

  .toc-banner--content {
    margin-top: var(--docs-space-s);
  }
}
