/* When updating the URLs, remember to change them also in header.ts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600;700&display=swap');
@import './palette.css';

/* These style sheets are fetched from vaadin.com during build (see init.js) */
@import url('https://cdn.vaadin.com/website/antlers/v2/assets/icons/css/line-awesome.min.css');
@import url('https://cdn.vaadin.com/website/hubspot-theme/v2/haas/css/haas.css');
@import './antlers/assets/css/1-foundation/custom-properties.css';
@import './antlers/assets/css/1-foundation/typography.css';
@import './antlers/assets/css/2-components/links.css';
@import './antlers/assets/css/2-components/button.css';
@import './antlers/assets/css/3-patterns/card.css';
@import './antlers/assets/css/5-sections/cookie.css';
@import './banners.css';

html {
  --docs-font-family: var(--font-main);
  --docs-font-family-heading: var(--font-header);
  --docs-font-family-monospace: var(--font-code);

  --docs-font-size-2xs: var(--text-size-xs);
  --docs-font-size-xs: var(--text-size-sm);
  --docs-font-size-s: var(--text-size-sm);
  --docs-font-size-m: var(--text-size-md);

  --docs-font-size-h1: var(--text-size-3xl);
  --docs-font-size-h2: var(--text-size-2xl);
  --docs-font-size-h3: var(--text-size-xl);
  --docs-font-size-h4: var(--text-size-lg);
  --docs-font-size-h5: var(--text-size-md);
  --docs-font-size-h6: var(--text-size-sm);

  --docs-font-weight-heading: var(--text-weight-semibold);

  --docs-line-height-s: var(--text-leading-sm);
  --docs-line-height-m: var(--text-leading-md);
  --docs-line-height-l: var(--text-leading-lg);

  --docs-space-2xs: 0.125rem; /* No suitable variable in Antlers */
  --docs-space-xs: var(--space-2xs);
  --docs-space-s: var(--space-xs);
  --docs-space-m: var(--space-sm);
  --docs-space-l: var(--space-base);
  --docs-space-xl: var(--space-md);
  --docs-space-2xl: var(--space-lg);
  --docs-space-3xl: var(--space-xl);

  --docs-layout-max-width: var(--max-width-lg);

  --docs-border-radius-s: var(--roundness-sm);
  --docs-border-radius-m: var(--roundness-md);
  --docs-border-radius-l: var(--roundness-lg);
  --docs-border-radius-full: var(--roundness-full);

  --docs-background-color: var(--base-white);
  --docs-header-background-color: var(--base-white);

  --docs-heading-text-color: var(--color-base-header);
  --docs-body-text-color: var(--gray-700);
  --docs-secondary-text-color: var(--color-secondary-text);
  --docs-tertiary-text-color: var(--color-stainless-darker);
  --docs-disabled-text-color: var(--color-disabled-text);

  --docs-divider-color-1: var(--gray-200);
  --docs-divider-color-2: var(--gray-300);

  --docs-admonitionblock-tip-border-color: var(--green-500);
  --docs-admonitionblock-caution-border-color: var(--yellow-500);
  --docs-admonitionblock-important-border-color: var(--violet-500);

  --docs-tab-selected-border-width: 1px;

  --docs-imageblock-prominent-background-color: var(--violet-500);
  --docs-imageblock-prominent-color: var(--base-white);

  --docs-code-keyword-color: var(--indigo-600);
  --docs-code-boolean-color: var(--yellow-600);
  --docs-code-annotation-color: var(--orange-700);
  --docs-code-tagged-line-background-color: var(--docs-blue-100);

  --docs-inline-code-background-color: hsla(216, 60%, 60%, 0.05);

  --docs-before-background-color: var(--red-50);
  --docs-after-background-color: var(--green-100);
  --docs-before-after-border-color: var(--gray-300)
}

::-moz-selection {
  --docs-text-selection-background-color: var(--text-selection-background);
  --docs-text-selection-color: var(--text-selection-text);
}

::selection {
  --docs-text-selection-background-color: var(--text-selection-background);
  --docs-text-selection-color: var(--text-selection-text);
}

dspublisher-header,
dspublisher-header:not(:defined){
  display: block;
  min-height: var(--mainViewMenuHeight);
}

dspublisher-header #haas-container {
  box-sizing: border-box;
  max-width: var(--docs-layout-max-width);
  padding: 0 calc(var(--docs-space-l) + var(--docs-space-xs));
  margin: 0 auto;
}

/* Force the same padding as DSP layout has (this might need a proper API, so that DSP layout can be unified) */
@media (max-width: 50rem) {
  dspublisher-header #haas-container {
    padding: 0 var(--docs-space-m);
  }
}

/* Override Antlers typography.css */
.haas-nav-items:not(:last-child) {
  margin-bottom: 0;
}

/* Keep Haas elements below docs search */
@media (max-width: 1024px) {
  body:not(.haas-open) dspublisher-header {
    position: relative;
    z-index: 1;
  }
}

[class*='docsHeader-'] {
  box-shadow: inset 0 -1px 0 0 var(--docs-divider-color-1), 0 -1px 0 0 var(--docs-divider-color-1);
}

[class*='docsHeaderWrapper'] {
  background-color: transparent;
}

/* Truncate main docs title when space runs out */
[class*='docsHeader-'] h3 {
  flex: auto !important;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: min-content;
}

[class*='menuItem'].commercial:not(.incomplete) > div > a::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  vertical-align: middle;
  margin-inline-start: 0.4em;
  background-color: var(--violet-600);
}

.section-outline dt.commercial::after {
  content: 'Commercial';
  display: inline-block;
  border-radius: var(--docs-border-radius-m);
  vertical-align: middle;
  margin-inline-start: var(--docs-space-s);
  padding: 0 0.3em;
  color: var(--violet-900);
  background-color: var(--violet-100);
  font-size: var(--docs-font-size-2xs);
}

[theme~='dark'] .section-outline dt.commercial::after {
  color: var(--violet-100);
  background-color: var(--violet-900);
}

a.button.primary.water {
  color: var(--button-text-color);
}

.card a::before {
  transition: box-shadow 0.1s;
  border-radius: var(--roundness-lg);
}

.card a:hover::before {
  box-shadow: 0 0 0 1px var(--blue-500);
}

/* Hide discussion IDs */
.discussion-id {
  display: none !important;
}

/* Dark theme */

html[theme~='dark'] {
  --docs-background-color: var(--gray-900);
  --docs-header-background-color: var(--gray-900);

  --docs-heading-text-color: var(--base-white);
  --docs-body-text-color: var(--gray-150);
  --docs-secondary-text-color: var(--gray-350);
  --docs-tertiary-text-color: var(--gray-400);
  --docs-disabled-text-color: var(--gray-500);

  --docs-surface-color-1: var(--gray-900);
  --docs-surface-color-2: var(--gray-800);
  --docs-surface-color-3: var(--gray-700);

  --docs-divider-color-1: var(--gray-600);
  --docs-divider-color-2: var(--gray-500);

  --docs-link-color: var(--blue-400);
  --docs-visited-link-color: var(--blue-300);

  --docs-admonitionblock-tip-border-color: var(--green-500);
  --docs-admonitionblock-caution-border-color: var(--yellow-500);
  --docs-admonitionblock-warning-border-color: var(--red-500);
  --docs-admonitionblock-important-border-color: var(--violet-500);

  --docs-tab-selected-color: var(--blue-400);
  --docs-tab-selected-border-width: 1px;

  --docs-imageblock-prominent-background-color: var(--indigo-500);
  --docs-imageblock-prominent-color: var(--base-white);

  --docs-code-keyword-color: var(--indigo-300);
  --docs-code-boolean-color: var(--yellow-600);
  --docs-code-annotation-color: var(--orange-400);
  --docs-code-tagged-line-background-color: var(--docs-gray-700);

  --docs-inline-code-background-color: hsla(216, 60%, 60%, 0.1);

  --docs-before-background-color: #301821;
  --docs-after-background-color: #172e1f;
  --docs-before-after-border-color: var(--gray-600);
}

/* Vaadin logo text color (adapt to dark mode) */
[theme='dark'] .haas-logo-textmark {
  fill: var(--docs-heading-text-color) !important;
}

[theme='dark'] .haas-nav,
[theme='dark'] ul.haas-menu {
  background-color: var(--docs-background-color);
}

[theme='dark'] .haas-active .haas-menu {
  border: 1px solid var(--docs-divider-color-1);
}

[theme='dark'] .haas-nav-button:not(:hover),
[theme='dark'] .haas-menu-primary-link,
[theme='dark'] .haas-menu-primary-link-platform-title,
[theme='dark'] .haas-menu-primary .haas-menu-secondary-link-title span,
[theme='dark'] .haas-open .haas-menu-secondary-link-title span,
[theme='dark'] .haas-menu-project-title {
  color: var(--docs-body-text-color);
}

[theme='dark'] a.haas-menu-primary-link-platform:hover,
[theme='dark'] a.haas-menu-primary-link:hover,
[theme='dark'] a.haas-menu-project-link:hover {
  background-color: var(--docs-surface-color-3);
}

[theme='dark'] .haas-mobile-nav-toggle span,
[theme='dark'] .haas-mobile-nav-toggle span::before,
[theme='dark'] .haas-mobile-nav-toggle span::after {
  background-color: var(--docs-body-text-color);
}

[theme='dark'] .haas-button.secondary {
  color: var(--docs-link-color);
  border-color: currentColor;
}

[theme='dark'] .haas-menu-secondary,
[theme='dark'] .haas-menu-secondary > ul > li:not(:last-child) {
  border-color: var(--docs-divider-color-1);
  background-color: var(--docs-surface-color-2);
}

[theme='dark'] .haas-menu-secondary .haas-menu-secondary-link:hover {
  background-color: var(--docs-surface-color-3);
}

html[theme~='dark'] .card.card {
  background-color: var(--docs-surface-color-2);
  border-color: var(--docs-divider-color-1);
}

/* Code styles within paragraph text, for example, [classname]`Component` */

[class^='ArticleLayout'] .replaceable {
  font-style: italic;
}

[class^='ArticleLayout'] .guibutton {
  border: 0;
  font-family: var(--docs-font-family-ui);
  font-size: 0.8em;
  line-height: 1.25;
  font-weight: 600;
  border-radius: var(--docs-border-radius-m);
  padding: 0.3em 0.6em;
  color: var(--docs-heading-text-color);
  background: linear-gradient(var(--docs-surface-color-3), var(--docs-surface-color-1));
  box-shadow: inset 0 0 0 1px var(--docs-divider-color-2);
  cursor: default;
  position: relative;
  top: -0.1em;
  white-space: nowrap;
}

[class^='ArticleLayout'] .guilabel {
  font-family: var(--docs-font-family-ui);
  font-size: 0.875em;
  line-height: 1.25;
  font-weight: 600;
  white-space: nowrap;
}

/* Before / After code block styles (for Upgrade Guide) */

[class^='ArticleLayout'] .code-example.before {
  background-color: var(--docs-before-background-color);
  --docs-before-after-label: 'Before - ';
}

[class^='ArticleLayout'] .code-example.before:not(.standalone) {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

[class^='ArticleLayout'] .code-example.before .controls {
  display: none;
}

[class^='ArticleLayout'] .code-example:is(.before,.after) .sources::before {
  content: var(--docs-before-after-label);
  color: var(--docs-secondary-text-color);
  font-size: var(--docs-font-size-xs);
  font-weight: var(--docs-font-weight-emphasis);
}

[class^='ArticleLayout'] .code-example.after {
  background-color: var(--docs-after-background-color);
  --docs-before-after-label: 'After - ';
}

[class^='ArticleLayout'] .code-example.after:not(.standalone) {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid var(--docs-before-after-border-color);
}

[class^='ArticleLayout'] .code-example:is(.before,.after) .sourcecode pre {
  background-color: inherit;
}

/* Class that removes the "box" styling of <code> blocks (for use in tables) */
[class^='ArticleLayout'] .unboxed-code code {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

/* Make <code> content in <dd>s break at non-word-chars rather than within words */
[class^='ArticleLayout'] dd code {
  overflow-wrap: normal;
  word-break: normal;
}

/*
 * Work around a Chromium + MacOS issue with the scrollbar appearing on the
 * drawer scroll container whenever an overlay is open.
 */
body[style*="pointer-events: none"] [class*="drawerScrollContainer"] {
  pointer-events: auto;
}

body[style*="pointer-events: none"] [class*="drawerScrollContainer"] > * {
  pointer-events: none;
}
