@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600;700&display=swap');
@import './palette.css';

/* These style sheets are fetched from vaadin.com during build (see gatsby-node.js) */
@import 'https://cdn.vaadin.com/website/antlers/v2/assets/icons/css/line-awesome.min.css';
@import url('https://cdn.vaadin.com/website/hubspot-theme/v2/haas/css/haas.css');
@import './antlers/assets/css/1-foundation/custom-properties.css';
@import './antlers/assets/css/1-foundation/typography.css';
@import './antlers/assets/css/2-components/links.css';
@import './antlers/assets/css/2-components/button.css';
@import './antlers/assets/css/3-patterns/card.css';
@import './antlers/assets/css/5-sections/cookie.css';
/*
@import './antlers/assets/css/1-foundation/reset.css';
@import './antlers/assets/css/1-foundation/layout.css';
@import './antlers/assets/css/2-components/lists.css';
@import './antlers/assets/css/1-foundation/theme.css';
@import './antlers/assets/css/2-components/dropdown.css';
@import './antlers/assets/css/2-components/tag.css';
@import './antlers/assets/css/3-patterns/navigation.css';
@import './antlers/assets/css/5-sections/addsearch.css';
*/
@import './banners.css';

html {
  --docs-font-family: var(--font-main);
  --docs-font-family-heading: var(--font-header);
  --docs-font-family-monospace: var(--font-code);

  --docs-font-size-2xs: var(--text-size-xs);
  --docs-font-size-xs: var(--text-size-sm);
  --docs-font-size-s: var(--text-size-sm);
  --docs-font-size-m: var(--text-size-md);

  --docs-font-size-h1: var(--text-size-4xl);
  --docs-font-size-h2: var(--text-size-3xl);
  --docs-font-size-h3: var(--text-size-2xl);
  --docs-font-size-h4: var(--text-size-lg);
  --docs-font-size-h5: var(--text-size-md);
  --docs-font-size-h6: var(--text-size-sm);

  --docs-font-weight-heading: var(--text-weight-semibold);

  --docs-line-height-s: var(--text-leading-sm);
  --docs-line-height-m: var(--text-leading-md);
  --docs-line-height-l: var(--text-leading-lg);

  --docs-space-2xs: 0.125rem; /* No suitable variable in Antlers */
  --docs-space-xs: var(--space-2xs);
  --docs-space-s: var(--space-xs);
  --docs-space-m: var(--space-sm);
  --docs-space-l: var(--space-base);
  --docs-space-xl: var(--space-md);
  --docs-space-2xl: var(--space-lg);
  --docs-space-3xl: var(--space-xl);

  --docs-layout-max-width: var(--max-width-lg);

  --docs-border-radius-s: var(--roundness-sm);
  --docs-border-radius-m: var(--roundness-md);
  --docs-border-radius-l: var(--roundness-lg);
  --docs-border-radius-full: var(--roundness-full);

  --docs-background-color: var(--gray-800);
  --docs-header-background-color: var(--gray-800);

  --docs-heading-text-color: var(--base-white);
  --docs-body-text-color: var(--gray-150);
  --docs-secondary-text-color: var(--gray-350);
  --docs-tertiary-text-color: var(--gray-400);
  --docs-disabled-text-color: var(--gray-500);

  --docs-surface-color-1: var(--gray-800);
  --docs-surface-color-2: var(--gray-750);
  --docs-surface-color-3: var(--gray-700);

  --docs-divider-color-1: var(--gray-650);
  --docs-divider-color-2: var(--gray-550);

  --docs-link-color: var(--blue-400);
  --docs-visited-link-color: var(--blue-300);

  --docs-admonitionblock-tip-border-color: var(--green-500);
  --docs-admonitionblock-caution-border-color: var(--yellow-500);
  --docs-admonitionblock-warning-border-color: var(--red-500);
  --docs-admonitionblock-important-border-color: var(--violet-500);

  --docs-tab-selected-color: var(--blue-400);
  --docs-tab-selected-border-width: 1px;

  --docs-imageblock-prominent-background-color: var(--indigo-500);
  --docs-imageblock-prominent-color: var(--base-white);

  --docs-code-operator-color: var(--docs-purple-300);
  --docs-code-property-color: var(--docs-blue-300);
  --docs-code-css-property-color: var(--docs-red-200);
  --docs-code-tag-color: var(--docs-blue-300);
  --docs-code-string-color: var(--docs-green-300);
  --docs-code-number-color: var(--docs-green-200);
  --docs-code-boolean-color: var(--docs-yellow-300);
  --docs-code-keyword-color: var(--docs-purple-200);
  --docs-code-function-color: var(--docs-blue-300);
  --docs-code-selector-color: var(--docs-blue-200);
  --docs-code-annotation-color: var(--docs-yellow-400);
  --docs-code-constant-color: var(--docs-blue-100);
  --docs-code-symbol-color: var(--docs-red-100);
  --docs-code-deleted-color: var(--docs-red-400);
  --docs-code-attr-name-color: var(--docs-red-300);
  --docs-code-attr-value-color: var(--docs-purple-200);
  --docs-code-char-color: var(--docs-green-200);
  --docs-code-builtin-color: var(--docs-yellow-100);
  --docs-code-inserted-color: var(--docs-green-300);
  --docs-code-entity-color: var(--docs-blue-300);
  --docs-code-variable-color: var(--docs-blue-300);
  --docs-code-class-name-color: var(--docs-blue-200);
  --docs-code-parameter-color: var(--docs-yellow-200);
  --docs-code-property-access-color: var(--docs-red-300);
  --docs-code-tagged-line-background-color: var(--docs-gray-600);
  --docs-code-tagged-line-border-color: var(--docs-blue-600);

  --docs-theme-toggle-display: none;

  color-scheme: dark;
}

html .card.card {
  background-color: var(--docs-surface-color-2);
  border-color: var(--docs-divider-color-1);
}

::-moz-selection {
  --docs-text-selection-background-color: var(--text-selection-background);
  --docs-text-selection-color: var(--text-selection-text);
}

::selection {
  --docs-text-selection-background-color: var(--text-selection-background);
  --docs-text-selection-color: var(--text-selection-text);
}

/* Force the same padding as DSP layout has (this might need a proper API, so that DSP layout can be unified) */
@media (min-width: 768px) {
  .haas-main-container {
    padding-left: calc(var(--docs-space-l) + var(--docs-space-xs)) !important;
    padding-right: calc(var(--docs-space-l) + var(--docs-space-xs)) !important;
  }
}

[class*='docsHeader-'] {
  box-shadow: inset 0 -1px 0 0 var(--docs-divider-color-1);
}

[class*='docsHeaderWrapper'] {
  background-color: transparent;
}

[class*='menuItem'].commercial:not(.incomplete) > div > a::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  vertical-align: middle;
  margin-inline-start: 0.4em;
  background-color: var(--violet-600);
}

a.button.primary.water {
  color: var(--button-text-color);
}

.card a::before {
  transition: box-shadow 0.1s;
  border-radius: var(--roundness-lg);
}

.card a:hover::before {
  box-shadow: 0 0 0 1px var(--blue-500);
}
