html {
  --docs-black-hsl: 216, 33%, 7%;
  --docs-black: var(--base-black);
  --docs-white: var(--base-white);

  --docs-gray-0: var(--base-white);
  --docs-gray-25: var(--gray-50);
  --docs-gray-50: var(--gray-100);
  --docs-gray-75: var(--gray-150);
  --docs-gray-100: var(--gray-200);
  --docs-gray-200: var(--gray-250);
  --docs-gray-300: var(--gray-300);
  --docs-gray-400: var(--gray-400);
  --docs-gray-500: var(--gray-500);
  --docs-gray-600: var(--gray-600);
  --docs-gray-700: var(--gray-700);
  --docs-gray-800: var(--gray-800);
  --docs-gray-900: var(--gray-900);

  --docs-blue-50: var(--blue-50);
  --docs-blue-100: var(--blue-100);
  --docs-blue-200: var(--blue-200);
  --docs-blue-300: var(--blue-300);
  --docs-blue-400: var(--blue-400);
  --docs-blue-500: var(--blue-500);
  --docs-blue-600: var(--blue-600);
  --docs-blue-700: var(--blue-700);
  --docs-blue-800: var(--blue-800);
  --docs-blue-900: var(--blue-900);

  --docs-red-50: var(--red-50);
  --docs-red-100: var(--red-100);
  --docs-red-200: var(--red-200);
  --docs-red-300: var(--red-300);
  --docs-red-400: var(--red-400);
  --docs-red-500: var(--red-500);
  --docs-red-600: var(--red-600);
  --docs-red-700: var(--red-700);
  --docs-red-800: var(--red-800);
  --docs-red-900: var(--red-900);

  --docs-green-50: var(--green-50);
  --docs-green-100: var(--green-100);
  --docs-green-200: var(--green-200);
  --docs-green-300: var(--green-300);
  --docs-green-400: var(--green-400);
  --docs-green-500: var(--green-500);
  --docs-green-600: var(--green-600);
  --docs-green-700: var(--green-700);
  --docs-green-800: var(--green-800);
  --docs-green-900: var(--green-900);

  --docs-yellow-50: var(--yellow-50);
  --docs-yellow-100: var(--yellow-100);
  --docs-yellow-200: var(--yellow-200);
  --docs-yellow-300: var(--yellow-300);
  --docs-yellow-400: var(--yellow-400);
  --docs-yellow-500: var(--yellow-500);
  --docs-yellow-600: var(--yellow-600);
  --docs-yellow-700: var(--yellow-700);
  --docs-yellow-800: var(--yellow-800);
  --docs-yellow-900: var(--yellow-900);

  --docs-purple-50: var(--violet-50);
  --docs-purple-100: var(--violet-100);
  --docs-purple-200: var(--violet-200);
  --docs-purple-300: var(--violet-300);
  --docs-purple-400: var(--violet-400);
  --docs-purple-500: var(--violet-500);
  --docs-purple-600: var(--violet-600);
  --docs-purple-700: var(--violet-700);
  --docs-purple-800: var(--violet-800);
  --docs-purple-900: var(--violet-900);
}
