header h3 a {
  display: flex;
  align-items: center;
  font-size: var(--docs-font-size-h4);
}

/*
Uncomment to add a logo to the header.
The "path-to-logo.png" should be changed to a valid URL of the logo image.

header h3 a::before {
  display: inline-block;
  content: "";
  height: 50px;
  width: 50px;
  margin-right: 1em;
  background-image: url("path-to-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
} */
