header h3 a {
  display: flex;
  align-items: center;
  font-size: var(--docs-font-size-h1);
}

/*
Uncomment to add a logo to the header.
The --docs-header-logo variable should be defined as the logo url.

header h3 a::before {
  display: inline-block;
  content: "";
  height: 50px;
  width: 50px;
  margin-right: 1em;
  background-image: var(--docs-header-logo);
  background-size: contain;
  background-repeat: no-repeat;
} */
