name: Content labels are resolved
on:
  pull_request:
    types: [labeled, unlabeled]
jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - uses: mheap/github-action-required-labels@v1
        with:
          mode: exactly
          count: 0
          labels: "AsciiDoc, Java, TypeScript"
