name: lint
on: [pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - uses: reitzig/actions-asciidoctor@v2.0.2
        with:
          version: 2.0.18
      - uses: errata-ai/vale-action@reviewdog
        with:
          files: articles
          vale_flags: "--config=.vale-pr.ini"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
