name: lint
on: [pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: errata-ai/vale-action@reviewdog
        with:
          files: articles
          vale_flags: "--config=.vale-pr.ini"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
